*, 
::before, 
::after { 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                 'Helvetica Neue', sans-serif;
    background-color: hsl(0, 0%, 98%);             
}

header {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 98%);
    padding: 1rem;
    text-align: center;
}

button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: hsl(0, 0%, 33%);
    color: hsl(0, 0%, 98%);
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 47%);
}

