*, 
::before, 
::after { 
  box-sizing: border-box;
  margin: 0; 
  padding: 0; 
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
                 Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 
                 'Helvetica Neue', sans-serif;
    background-color: #fafafa;             
}

header {
    background-color: #333;
    color: #fafafa;
    padding: 1rem;
    text-align: center;
}

button {
    margin: 0 1rem;
    padding: 0.5rem 1rem;
    background-color: #555;
    color: #fafafa;
    border: none;
    border-radius: 6px;
}